{% extends "base.html" %}
{% block title %}Novo Agendamento{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-header bg-info text-white">
                <h5 class="mb-0">
                    <i class="bi bi-calendar-event"></i> Agendamento
                </h5>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="text-end mt-3">
                        <button class="btn btn-success">
                            <i class="bi bi-check-circle"></i> Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
