# Django
DEBUG=False

SECRET_KEY=CHANGE-ME

ALLOWED_HOSTS=localhost,127.0.0.1,seusite.com,www.seusite.com

CSRF_TRUSTED_ORIGINS=https://seusite.com,https://www.seusite.com

# Banco de Dados
DB_ENGINE=django.db.backends.mysql
DB_NAME=CHANGE-ME
DB_USER=CHANGE-ME
DB_PASSWORD=CHANGE-ME
DB_HOST=db
DB_PORT=3306

MYSQL_ROOT_PASSWORD=OutraSenhaBemSegura123@

# Timezone
TIME_ZONE=CHANGE-ME

# Idioma
LANGUAGE_CODE=pt-br